<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>react-demo</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="//pic.qianmi.com/qmui/v0.2/css/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="//vjs.zencdn.net/7.3.0/video-js.min.css" >
	<script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>

</head>

<body class="root-container">
	<canvas id="canvas"></canvas>
	<div id="react-content" class="react-content"></div>
	<script type="text/javascript" src="/webpack-dev-server.js"></script>
	<script src="/demo-animate.js"></script>
</body>

</html>