.user-edit-container{
    margin: 0 auto;
    padding: 50px 20px;
    background: #f6f6f6;
    width: 1000px;
    min-height:800px; 
    overflow: hidden;
    position: relative;
    .head-img {
        display: inline-block;
        position: absolute;
        .ant-upload.ant-upload-select-picture-card{
            width: 150px;
            height: 150px;
            margin: 0px;
            position: absolute;
            background-color: #1a1a1a;
            opacity: 0;
        }
        .ant-upload.ant-upload-select-picture-card:hover {
            -webkit-transition: opacity .2s ease-in;
            transition: opacity .2s ease-in;
            opacity: 0.6;
        }
        img{
            width: 150px;
            height: 150px;
        }
        .upload-tips{
            color: #fff;
        }
    }

    .user-info-edit{
    //    width: 800px;
    }

}