.user-container{
    margin: 0 250px;
    padding: 50px 20px;
    background: #f6f6f6;
    min-height: 800px;

    .user-top{
        height: 200px;
        background-color: green;
        display: flex;
        position: relative;
        .user-headimg{
            display: inline-block;
            margin: 30px;
            position: relative;
            img{
                width: 150px;
                height: 150px;
            }
            .ant-upload.ant-upload-select-picture-card{
                position: absolute;
                background-color: #1a1a1a;
                opacity: 0;
                width: 150px;
                height: 150px;
                margin: 0px;
            }
            .ant-upload.ant-upload-select-picture-card:hover {
                -webkit-transition: opacity .2s ease-in;
                transition: opacity .2s ease-in;
                opacity: 0.6;
            }
            .upload-tips{
                color: #fff;
            }
        }

        .user-info{
            text-align: center;
            vertical-align:middle;
            height: 100px;
            margin-top: 80px;
            .user-name{
                font-size: 35px;
            }
        }

        .user-opts{
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }


    .user-bottom{
        display: flex;
        margin-top: 20px;
        .left-panel{
            width: 80%;
            padding:10px;
            margin: 10px;
            background: #fff;
           
            .article-item{
                height: 150px;
                margin: 15px 0px;
                border-bottom: 1px solid #f0f0f0;
            }

        }

        .right-panel{
            width: 20%;
            padding:10px;
            margin: 10px;
            background: #fff;
             .follow{
                 display: flex;
                 height: 80px;
                 .follow-panel{
                    width: 50%;
                    height: 60px;
                    text-align: center;
                 }
             }   

             .user-opt{
                 margin-top:10px;
                 height: 80px;
                 .opt-panel{
                     width: 50%;
                     text-align: center;
                 }
                 .icon-write{
                     font-size: 24px;
                 }
             }
        }

        .split{
            border: 1px solid #fff;
        }



    }
}