.user-container{
    margin: 0 250px;
    padding: 50px 20px;
    background-color: #fff;
    min-height: 800px;

    .user-top{
        height: 200px;
        background-color: green;
        display: flex;
        .user-headimg{
            display: inline-block;
            margin: 30px;
            img{
                width: 150px;
                height: 150px;
            }
        }

        .user-info{
            text-align: center;
        }

        .user-opts{

        }
    }
}