.ant-carousel .slick-slide {
    text-align: center;
    height: 400px;
    line-height: 400px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .banner{
    padding: 20px 50px;
  }

  .bottom-area{
    padding: 20px 50px;
  }

  .ant-carousel{
    .slick-slider{
      .slick-track{
        .slick-slide{
          height: 270px;
        }
      }
    }
  }