@import '~braft-editor/dist/output.css';
.article-container{
    margin: 0 250px;
    padding: 50px 20px;
    background-color: #fff;
    min-height: 800px;

    .article-title{
        text-align: center
    }

    .article-user{
        display: flex;
        padding: 5px 15px;
        margin-bottom: 15px;
        .header{
            img{
                width: 50px;
                height: 50px;
                border-radius:25px; 
            }
        }
        .user-info{
            margin-left: 10px;
            .user-top{
                font-size: 22px;
                .user-follow{
                  margin-left:10px; 
                }
            }
        }
    }

}